.App
{
  text-align: center;
}

.App-logo
{
  height: 40vmin;
  pointer-events: none;
}

.App-header
{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link
{
  color: #61dafb;
}

.Title
{
  text-align: center;
  font-size: x-large;
  text-decoration: underline;
  text-underline-offset: 10%;
}

.Section
{
  width: 100%;
  margin: 'auto';
  text-align: center;
}

.MakeThemAppearSideBySideInSameLine
{
  display: inline-block;
  text-align: center;
}

table
{
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

table, th, td
{
  text-align: center;
  vertical-align: middle;
}

/* td
{
  color: rgb(39, 162, 39);
  border: 2px solid rgb(39, 162, 39);
  border-radius: 10px;
} */

td img
{
  width: 50%;
  height: 50%;
  vertical-align: middle;
  border: 2px solid rgb(39, 162, 39);
  border-radius: 10px;
}

.EqualWidthColumns
{
  width: 45%;
  column-span: 2;
  border: 2px solid rgb(39, 162, 39);
  border-radius: 10px;
  font-size: 200%;
  vertical-align: middle;
}

.ColumnWithOneFifthWidthOfTable
{
  width: 10%;
  border: 2px solid rgb(39, 162, 39);
  border-radius: 10px;
}

.ColumnWithOneFifthWidthOfTable img
{
  width: 50%;
  height: 50%;
  vertical-align: middle;
}

.Scoreboard
{
  display: inline-block;
  text-align: center;
  padding-left: 2%;
  padding-right: 2%;
}