.HiddenInput
{
    display: none;
}

.InputButton
{
    color: green;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
}

.InputButtonText
{
    color: green;
    text-align: center;
}

.InputButton .UploadFileIcon
{
    color: grey;
    font-size: 700%;
    display: none;
}

.InputButton .UploadFileIcon:hover
{
    color: rgb(68, 67, 67);
    font-size: 700%;
}

.InputButton .FileUploadedIcon
{
    color: green;
    font-size: 700%;
}

.InputButton .FileUploadedIcon:hover
{
    color: rgb(1, 100, 1);
    font-size: 700%;
}